@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    /* Prevent horizontal scroll on mobile */
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Adds padding to bottom of screen for iPhone Home Indicator */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}